body{
  font-family: 'Poppins', sans-serif;
  align-items: center; 
  /* display: table-cell;
  vertical-align:middle; */
  margin: 0 auto; 
}

h1{
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0;
}