body {
  font-family: "Poppins", sans-serif;
  /* display: table-cell;
    vertical-align:middle; */
  margin: 0 auto;
  padding:3%;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0;
}

button {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
