body {
  font-family: "Poppins", sans-serif;
  /* display: table-cell;
    vertical-align:middle; */
  margin: 0 auto;
  padding: 3%;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0;
}

button {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.text_red {
  color: #e12b2b;
}
.italic {
  font-style: italic;
}
.my_gray_checkbox {
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid #d9d9d9;
}
.my_gray_checkbox_active {
  background-color: #9b7dbf;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid black;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.flex_center {
  display: flex;
  align-items: center;
}
