@import "../../global.module.scss";


.box {
  background-color: $color-gray;
  min-width: 270px;
  border-radius: $rounded-xl;
  padding: $p-3;
}

.sku {
  background-color: white;
  font-weight: bold;
  width: fit-content;
  padding: $p-3 $p-6;
  border-radius: $rounded-xl;
  font-size: 18px;
}

.box_image {
  text-align: center;
  position: relative;
}

.icon_delete {
  background-color: $color-red;
  padding: 5px;
  border-radius: 100%;
  overflow: hidden;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-gray-light;
  border-radius: $rounded-xl;
  padding: $p-3;
  font-weight: bold;
}

.but_edit {
  background-color: $color-purple-dark;
  color: white;
  border-radius: $rounded-full;
  padding: $p-3;
  min-width: 100px;
  font-weight: bold;
}

.but_black {
  background-color: black;
  color: white;
  border-radius: $rounded-full;
  padding: $p-3;
  min-width: 100px;
  font-weight: bold;
}
.text_error{
  color: $color-red-dark;
  font-style: italic;
  font-weight: bold;
}